name: Check Stallplätze

on:
  schedule:
    - cron: '*/60 * * * *'
  workflow_dispatch: # manuell ausführbar

jobs:
  check_stalls:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run script and check for changes
        id: check_stalls
        run: |
          python -m fetch  # Korrigierter Befehl

          # Vergleichen mit vorherigem Wert aus freeplaces.txt
          if [ -f "${{ github.workspace }}/freeplaces.txt" ]; then
            PREVIOUS_STALLS=$(cat "${{ github.workspace }}/freeplaces.txt")
          else
            PREVIOUS_STALLS=""
          fi

          CURRENT_STALLS=$(cat "${{ github.workspace }}/freeplaces.txt")

          # Prüfe, ob PREVIOUS_STALLS leer ist
          if [ -z "$PREVIOUS_STALLS" ]; then
            echo "changed=true" >> "$GITHUB_ENV"
            echo "::set-output name=changed::true"
          elif [ "$CURRENT_STALLS" != "$PREVIOUS_STALLS" ]; then
            echo "changed=true" >> "$GITHUB_ENV"
            echo "::set-output name=changed::true"
          fi

          # Speichere die Anzahl der freien Stallplätze
          echo "::set-output name=free_stalls::$CURRENT_STALLS"

          # Speichere die Datei als Artefakt
          mkdir -p ./artifacts
          cp freeplaces.txt ./artifacts/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: stallplaetze-artifact
          path: ./artifacts/

  notify:
    runs-on: ubuntu-latest
    needs: check_stalls
    if: ${{ needs.check_stalls.outputs.changed == 'true' }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: stallplaetze-artifact
          path: ./artifacts/

      - name: Discord Notification
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          # Stelle die freeplaces.txt aus dem Artefakt wieder her
          cp ./artifacts/freeplaces.txt .

          # Lese den aktuellen Wert aus der Datei
          CURRENT_STALLS=$(cat freeplaces.txt)

          curl -H "Content-Type: application/json" -X POST -d '{"content": "Die Anzahl der freien Stallplätze hat sich geändert! Aktuell sind '"$CURRENT_STALLS"' Plätze frei."}' "${{ secrets.DISCORD_WEBHOOK_URL }}"
